
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理账户注册</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css">
    
    <link  rel="icon" href="~/layui/css/modules/layer/default/icon.png" />

</head>
<body>

    <div class="login-main">
        <div class="m-login-warp">
            <header class="layui-elip" style="width: 82%">后台管理账号注册</header>
            <!-- 表单选项 -->
            <form class="layui-form" id="registadd">
                <div class="layui-input-inline">
                    <!-- 手机号 -->
                    <div class="layui-inline" style="width: 85%">
                        <input type="text" id="uphone" name="uphone" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                    <!-- 对号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="uri" style="color: green;font-weight: bolder;" hidden></i>
                    </div>
                    <!-- 错号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="uwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <!-- 用户名 -->
                    <div class="layui-inline" style="width: 85%">
                        <input type="text" id="user" name="account" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                    <!-- 对号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="ri" style="color: green;font-weight: bolder;" hidden></i>
                    </div>
                    <!-- 错号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="wr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
                    </div>
                </div>
                <!-- 密码 -->
                <div class="layui-input-inline">
                    <div class="layui-inline" style="width: 85%">
                        <input type="password" id="pwd" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <!-- 对号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="pri" style="color: green;font-weight: bolder;" hidden></i>
                    </div>
                    <!-- 错号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="pwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
                    </div>
                </div>
                <!-- 确认密码 -->
                <div class="layui-input-inline">
                    <div class="layui-inline" style="width: 85%">
                        <input type="password" id="rpwd" name="repassword" required lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input">
                    </div>
                    <!-- 对号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="rpri" style="color: green;font-weight: bolder;" hidden></i>
                    </div>
                    <!-- 错号 -->
                    <div class="layui-inline">
                        <i class="layui-icon" id="rpwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
                    </div>
                </div>


                <div class="layui-input-inline login-btn" style="width: 85%">
                    <button type="submit" lay-submit lay-filter="sub" class="layui-btn layui-btn-normal">注册</button>
                </div>
                <hr style="width: 85%" />
                <p style="width: 85%"><a href="/Users/LoginShows" class="fl">已有账号？立即登录</a><a href="javascript:;" class="fr">忘记密码？</a></p>
            </form>
        </div>
    </div>
    <script src="~/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use(['form', 'jquery', 'layer'], function () {
            var form = layui.form;
            var $ = layui.jquery;
            var layer = layui.layer;
            // 为手机添加正则验证
            $('#uphone').blur(function () {
                var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if (!($('#uphone').val().match(reg))) {
                    //layer.msg('您的输入有误，请重新输入(中国11位手机号)');
                    $('#uwr').removeAttr('hidden');
                    $('#uri').attr('hidden', 'hidden');
                    layer.msg('您的输入有误，请重新输入(中国11位手机号)');
                } else {
                    $('#uri').removeAttr('hidden');
                    $('#uwr').attr('hidden', 'hidden');
                }
            });
            // you code ...
            // 为密码添加正则验证
            $('#pwd').blur(function () {
                var reg = /^[\w]{6,12}$/;
                if (!($('#pwd').val().match(reg))) {
                    //layer.msg('请输入合法密码');
                    $('#pwr').removeAttr('hidden');
                    $('#pri').attr('hidden', 'hidden');
                    layer.msg('请输入合法密码6-18位');
                } else {
                    $('#pri').removeAttr('hidden');
                    $('#pwr').attr('hidden', 'hidden');
                }
            });
             $('#user').blur(function () {
                var reg = /^[\u4e00-\u9fa5]{2,4}$/;
                if (!($('#user').val().match(reg))) {
                    //layer.msg('请输入2-4位中文');
                    $('#wr').removeAttr('hidden');
                    $('#ri').attr('hidden', 'hidden');
                    layer.msg('请输入2-4位中文');
                } else {
                    $('#ri').removeAttr('hidden');
                    $('#wr').attr('hidden', 'hidden');
                }
            });
        

            //验证两次密码是否一致

            $('#rpwd').blur(function () {
                if ($('#pwd').val() != $('#rpwd').val()) {
                    $('#rpwr').removeAttr('hidden');
                    $('#rpri').attr('hidden', 'hidden');
                    layer.msg('两次输入密码不一致!');
                } else {
                    $('#rpri').removeAttr('hidden');
                    $('#rpwr').attr('hidden', 'hidden');
                };
            });



            //添加表单监听事件,提交注册信息
            form.on('submit(sub)', function () {
                $.ajax({
                    url: '/Users/UserRegist',
                    type: 'post',
                    dataType: 'Json',
                    data: {
                        UserName: $('#user').val(),
                        UserPhone: $('#uphone').val(),
                        UserPass: $('#pwd').val(),
                    },
                    success: function (res) {
                        if (res.IsRegistSuccess) {
                            layer.msg(res.Message);

                            location.href = "/Users/LoginShows";
                        } else {
                            layer.msg(res.Message);

                        }
                    }
                })

                //防止页面跳转
                return false;
            });
     
           
        });

    </script>
</body>
</html>
