<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        #tbo {
        border-collapse:collapse;
        }
            #tbo td {
                padding:15px;
            }

    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <h2>编辑/新增阶段</h2>
    <input type="hidden" id="hidPlanId" value="@Request["PlanId"]" />
    <input type="hidden" id="hidProjectStage" value="@Request["ProjectStage"]" />
    <table id="tbo">
        <tr>
            <td style="color:red">阶段：</td>
            <td><input type="text" id="txtStage" placeholder="请输入阶段名称" style="height:30px;width:180px" /></td>
        </tr>
        <tr>
            <td style="color:red">开始日期：</td>
            <td>
                <form action="time">
                    <input type="date" id="txtStartTime" style="height:30px;width:180px" />
                </form>
            </td>
        </tr>
        <tr>
            <td style="color:blue">完成日期：</td>
            <td>
                <form action="time">
                    <input type="date" id="txtOffTime" style="height:30px;width:180px" />
                </form>
            </td>
        </tr>
        <tr>
            <td style="color:blue">阶段负责人：</td>
            <td><input type="text" id="txtPerson" placeholder="请输入阶段负责人" style="height:30px;width:180px" /></td>
        </tr>
    </table>

    <button onclick="StageUpdate()" style="margin-left:15px;margin-top:15px;width:50px;height:30px;">修改</button>
    <button onclick="StageAdd()" style="margin-left:15px;margin-top:15px;width:50px;height:30px;">添加</button>
</body>
</html>
