
@{
    ViewBag.Title = "AddProjectAndStage";
    Layout = "~/Views/Master/Project/ProjectAddOrUpdate.cshtml";
}

<script>
     $().ready(function () {
        StageDetail();
     })

      function StageDetail() {
        var ProjectStageId = 1;

        $.ajax({
            url: "/Project/StageDetail",
            data: {
                ProjectStageId:ProjectStageId
            },
            datatype: "Json",
            type:"Post",
            success: function (res) {
                var list = "";
                $(res.Stage).each(function () {
                    list += "<tr>" +
                        "<td>" + this.PlanId + "</td>" +
                        "<td>" + this.StageName + "</td>" +
                        "<td>" + this.StageStartTime + "</td>" +
                        "<td>" + this.StageFinishTime + "</td>" +
                        "<td>" + this.StageStaffName + "</td>" +
                        "<td><a onclick='StageDelete("+this.PlanId+")' >删除</a>"+"</td>"+
                        "<td><a onclick='StageUpdtae("+this.PlanId+")' >修改</a>"+"</td>"+
                        "</tr>";  
                })
                $("#tby").append(list);

              
            }
        })
    }

      function StageDelete(PlanId) {
          if (confirm("确定要删除么？")) {
              $.ajax({
                  url:"/Project/DeleteStage",
                  data: {
                      PlanId: PlanId
                  },
                  type: "post",
                  datatype: "json",
                  success: function (res) {
                      if (res.IsRegistSuccess) {
                          alert("删除成功");
                      }
                      else {
                          alert("删除失败");
                      }
                  }
                 })
                }
    }

    function StageUpdtae(PlanId) {
        window.location = "/Project/StageUpdate?PlanId=" + PlanId;
    }
</script>
