
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/admin.css" />
    <link href="~/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/ztree/css/demo.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/ztree/js/jquery.ztree.core.js"></script>
    <script src="~/ztree/js/jquery.ztree.excheck.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/zTreeConfiguration.js"></script>
    <style>
        #tbo td {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
        }

        #tbod th {
            text-align: center;
        }

        #tbod td {
            text-align: center;
        }

        #tab {
            border-collapse: collapse;
        }

            #tab td {
                padding: 10px;
                border: 1px solid #000000;
                text-align: center;
            }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            opacity: .80;
            filter: alpha(opacity=88);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 20%;
            width: 15%;
            height: 30%;
            padding: 20px;
            border: 1px solid black;
            background-color: #d1a4a4;
            z-index: 1002;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div style="float:right;margin-right:270px;">
        <button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" style="width:60px;height:40px;margin-top:250px;" onclick="ProjectUpdate()">保存</button>
        <button class="layui-btn layui-btn-small layui-btn-danger del-btn" style="width:60px;height:40px;margin-left:50px;margin-top:250px;" onclick="ExitProjects()">取消</button>
    </div>
    <div style="margin-top:30px;">
        <input type="hidden" id="hidProjectId" value="@Request["ProjectId"]" />
        <table id="tbo">
            <tr>
                <td style="color:red">项目编号：</td>
                <td><input type="text" id="txtNumber" placeholder="请输入项目编号" style="height:40px;width:240px" /></td>
                <td style="color:blue;">项目名称：</td>
                <td><input type="text" id="txtName"  placeholder="请输入项目名称" style="height:40px;width:240px" /></td>
            </tr>
            <tr>
                <td style="color:fuchsia">项目描述：</td>
                <td><input type="text" id="txtDetail" placeholder="请输入项目描述" style="height:40px;width:240px;" /></td>
                <td style="color:palevioletred">项目负责人：</td>
                <td>
                    <button id="ProjectDetail" style="width:240px;height:40px;" href="javascript:void(0)" onclick="document.getElementById('light').style.display = 'block'; document.getElementById('fade').style.display = 'block';">选择项目负责人</button>
                    <div id="light" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none';">确定选中</button>
                        <div>
                            <div id="treeDemo" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">技术负责人：</td>
                <td>
                    <button id="technologyDetail" style="width:240px;height:40px;" href="javascript:void(0)" onclick="document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'">选择技术负责人</button>
                    <div id="light1" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light1').style.display = 'none'; document.getElementById('fade').style.display = 'none';">确定选中</button>
                        <div>
                            <div id="treeDemoTechnology" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
                <td style="color:palevioletred">产品负责人：</td>
                <td>
                    <button id="ProductDetail" style="width:240px;height:40px;" href="javascript:void(0)" onclick="document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'">选择产品负责人</button>
                    <div id="light2" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoProduct" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">测试负责人：</td>
                <td>
                    <button id="TestDetail" style="width:240px;height:40px;" href="javascript:void(0)" onclick="document.getElementById('light3').style.display='block';document.getElementById('fade').style.display='block'">选择测试负责人</button>
                    <div id="light3" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light3').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoTest" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
                <td style="color:palevioletred">市场负责人：</td>
                <td>
                    <button id="MarkDetail" style="width:240px;height:40px;" href="javascript:void(0)" onclick="document.getElementById('light4').style.display='block';document.getElementById('fade').style.display='block'">选择市场负责人</button>
                    <div id="light4" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoMark" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:red">项目开始日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtStartTime" style="height:40px;width:240px" />
                    </form>
                </td>
                <td style="color:blue">项目截止日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtOffTime" style="height:40px;width:240px" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top:15px;margin-left:15px;">
        <span>阶段计划表:</span>
        <span><a onclick="AddStage()">新增阶段</a></span>
        <div class="layui-form" id="table-list" style="margin-top:50px;width:1200px;">
            <table class="layui-table" lay-even @*lay-skin="nob"*@ id="tbod">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>阶段</th>
                        <th>开始日期</th>
                        <th>完成日期</th>
                        <th>阶段负责人</th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody id="tby"></tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script>
    $().ready(function () {
        ProjectBackFill();
        StageDetail();
        //ProjectBand();
        //MarkBand();
        //TestBand();
        //TechBand();
        //ProductBand();
    })


    function ChangeDateFormat(val) {
        if (val != null) {
            var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
            //月份为0-11，所以+1，月份小于10时补个0
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        return "";
    }


    function StageDelete(PlanId) {
        if (confirm("确定要删除么？")) {
            $.ajax({
                url: "/Project/DeleteStage",
                data: {
                    PlanId: PlanId
                },
                type: "post",
                datatype: "json",
                success: function (res) {
                    if (res.IsRegistSuccess) {
                        StageDetail();
                        alert(res.Message);

                    }
                    else {
                        alert(res.Message);
                    }
                }
            })
        }
    }

    function StageUpdtae(PlanId) {
        window.location = "/Project/StageUpdate?PlanId=" + PlanId;
    }

    function ProjectBackFill() {
        var ProjectId = $("#hidProjectId").val();

        $.ajax({
            url: "/Project/ProjectDetail",
            data: {
                ProjectId: ProjectId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                $(res.Project).each(function () {
                    $("#txtNumber").val(res.Project[0].ProjectNumber);
                    $("#txtName").val(res.Project[0].ProjectName);
                    $("#txtDetail").val(res.Project[0].ProjectDescribe);
                    $("#txtStartTime").val(ChangeDateFormat(res.Project[0].ProjectStartTime));
                    $("#txtOffTime").val(ChangeDateFormat(res.Project[0].ProjectOutTime));
                    $("#ProjectDetail").text(res.Project[0].ProjectStaffId);
                    $("#ProductDetail").text(res.Project[0].ProductStaffId);
                    $("#TestDetail").text(res.Project[0].TestStaffId);
                    $("#MarkDetail").text(res.Project[0].MarketStaffId);
                    $("#technologyDetail").text(res.Project[0].TechStaffId);
                    ProjectStageIdOrBackFill = res.Project[0].ProjectStage;
                })
            }
        })
    }

    function ProjectUpdate() {
        var ProjectId = $("#hidProjectId").val();
        var ProjectNumber = $("#txtNumber").val();
        var ProjectName = $("#txtName").val();
        var ProjectDescribe = $("#txtDetail").val();
        var ProjectStaffId = $("#ProjectDetail").text();
        var TechStaffId = $("#technologyDetail").text();
        var ProductStaffId = $("#ProductDetail").text();
        var TestStaffId = $("#TestDetail").text();
        var MarketStaffId = $("#MarkDetail").text();
        var ProjectStartTime = $("#txtStartTime").val();
        var ProjectOutTime = $("#txtOffTime").val();
        var ProjectStage = 0;

        if (ProjectNumber == "") {
            $("#txtNumber").attr('placeholder', '项目编号数据为空！！');
            return;
        }
         if (ProjectName == "") {
            $("#txtName").attr('placeholder', '项目名称数据为空！！');
            return;
        }
         if (ProjectDescribe == "") {
            $("#txtDetail").attr('placeholder', '项目描述数据为空！！');
            return;
        }
        if (ProjectStartTime == "") {
            $("#txtStartTime").css({color:"red"});
            return;
        }
        else {
            $("#txtStartTime").css({color:"black"});
        }
         if (ProjectOutTime == "") {
            $("#txtOffTime").css({color:"red"});
            return;
        }
         else {
            $("#txtOffTime").css({color:"black"});
        }
        $.ajax({
            url: "/Project/UpdateProject",
            data: {
                ProjectId: ProjectId,
                ProjectNumber: ProjectNumber,
                ProjectName: ProjectName,
                ProjectDescribe: ProjectDescribe,
                ProjectStaffId: ProjectStaffId,
                TechStaffId: TechStaffId,
                ProductStaffId: ProductStaffId,
                TestStaffId: TestStaffId,
                MarketStaffId: MarketStaffId,
                ProjectStartTime: ProjectStartTime,
                ProjectOutTime: ProjectOutTime,
                ProjectStage: ProjectStage
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                if (res.IsRegistSuccess) {
                    alert(res.Message);
                      window.opener=null;
                        window.open('','_self');
                        window.close();
                }
                else {
                    alert(res.Message);
                }
            }
        })
    }


    function ExitProjects() {
        window.opener=null;
        window.open('','_self');
        window.close();
    }



    function StageDetail() {
        var ProjectId = $("#hidProjectId").val();

        $.ajax({
            url: "/Project/StageDetail",
            data: {
                ProjectStageId: ProjectId
            },
            datatype: "Json",
            type: "Post",
            success: function (res) {
                var list = "";
                $(res.Stage).each(function () {
                    list += "<tr>" +
                        "<td>" + this.PlanId + "</td>" +
                        "<td>" + this.StageName + "</td>" +
                        "<td>" + ChangeDateFormat(this.StageStartTime) + "</td>" +
                        "<td>" + ChangeDateFormat(this.StageFinishTime) + "</td>" +
                        "<td>" + this.StageStaffName + "</td>" +
                        "<td><a onclick='StageDelete(" + this.PlanId + ")' >删除</a>" + "</td>" +
                        "<td><a onclick='StageUpdtae(" + this.PlanId + ")' >修改</a>" + "</td>" +
                        "</tr>";
                })
                $("#tby").append(list);


            }
        })
    }

    function AddStage() {
        var ProjectId = $("#hidProjectId").val();

        window.location = "/Project/StageUpdate?ProjectStage=" + ProjectId;
    }
</script>
