
@{
    ViewBag.Title = "InfoMation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/admin.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>项目详情</title>
    <SCRIPT language=javascript> 
function openScript(url, width, height) {
        var Win = window.open(url,"openScript",'width=' + width + ',height=' + 
 
         height + ',resizable=0,scrollbars=yes,menubar=no,status=n0,left=200' );
}
</SCRIPT>

    <style>
        #fuhao {
        }

        #tbod td {
            height: 40px;
            width: 5px;
        }

        #tbod th {
            height: 40px;
            width: 5px;
        }
    </style>

</head>
<body>
    <div class="page-content-wrap" style="background-image: url('../../css/31890b2b14fdcd4c40b27576259ef9c4.jpg');width:100%;height:100px;">
        <div @*class="layui-form" action=""*@ style="margin-top:50px">
            <div class="layui-form-item">
                <div class="layui-inline tool-btn" style="float:left;margin-top:5px;">

                   <a  href='javascript:openScript("/Project/ProjectAdd",500,600)'><i class="layui-icon">&#xe654;</i>新增</a>
                </div>
                <div @*class="layui-inline"*@ style="float:left">
                    <input type="hidden" value="1" id="hidIndex" />
                    <span style="margin-left:20px;">项目编号：</span>
                    <input type="text" name="title" placeholder="请输入项目编号" style="height:30px;width:100px;margin-left:20px;" id="txtNumber">
                    <span style="margin-left:20px;">项目状态：</span>
                    <select id="SelectMent" style="height:30px;width:100px;margin-left:20px;">
                        <option value="-1">请选择</option>
                        <option value="0">进行中</option>
                        <option value="1">已完成</option>
                        <option value="2">已延期</option>
                    </select>
                </div>
                <input type="button" style="color:white;background-color:dodgerblue;margin-left:80px;height:35px;width:80px;" value="搜索" onclick="GetProject()" />
            </div>
        </div>
        <div class="layui-form" id="table-list" style="margin-top:50px">
            <table class="layui-table" lay-even lay-skin="nob" id="tbod">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>项目编号</th>
                        <th>项目名称</th>
                        <th>项目负责人</th>
                        <th>当前阶段</th>
                        <th>项目状态</th>
                        <th>开始日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tbo">
                    <tr>
                        <td>this.ProjectId</td>
                        <td>this.ProjectNumber</td>
                        <td>this.ProjectDescribe</td>
                        <td>this.ProjectName</td>
                        <td>this.ProjectDescribe</td>
                        <td style='color:paleturquoise'>(this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期'))</td>
                        <td>ChangeDateFormat(this.ProjectStartTime)</td>
                        <td>

                            <button class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'>跟进</button>
                            <button class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")'>删除</button>
                            <button class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectUpdate(" + this.ProjectId + ")'>编辑</button>
                            <button class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")'>详情</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-top:100px;margin-left:700px;">
                <button style="height:30px;width:50px;" class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick="btnFirst()">首页</button>
                <button style="height:30px;width:50px;margin-left:30px;" class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick="btnBack()">上一页</button>
                <button style="height:30px;width:50px;margin-left:30px;" class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick="btnNext()">下一页</button>
                <button style="height:30px;width:50px;margin-left:30px;" class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick="btnEnd()">尾页</button>
            </div>
            </div>
    </div>
    <script src="~/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>


<script>
    $().ready(function () {
        ProjectShow();
    })

    function ChangeDateFormat(val) {
        if (val != null) {
            var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
            //月份为0-11，所以+1，月份小于10时补个0
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        return "";
    }

    function ProjectShow() {
        var PageIndex = 1;
        var PageSize = 3;
        var Projectstage = -1;
        var ProjectNumber = "";
        $("#tbo").empty();

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                PageIndex: PageIndex,
                PageSize: PageSize,
                Projectstage: Projectstage,
                ProjectNumber: ProjectNumber
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                var list = "";
                $(res.Project).each(function () {
                    $("#tbo").empty();
                    list += "<tr>" +
                        "<td>" + this.ProjectId + "</td>" +
                        "<td>" + this.ProjectNumber + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td>" + this.ProjectName + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                        "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                        "<td>" +
                        "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                        "</td>" +
                        "</tr>";

                    $("#tbo").append(list);
                })
            }
        })
    }
 
    function ProjectDetail(ProjectId) {

        window.location = "/Project/Detail?ProjectId=" + ProjectId;

    }

    //function ProjectAdd() {
    //    window.open('/Project/ProjectAdd','_blank')
    //    //window. = "/Project/ProjectAdd";
    //}

    function ProjectDelete(ProjectId) {

        $("#tbo").empty();

        if (confirm("你确定要删除么？")) {
            $.ajax({
                url: "/Project/UpdateStausProject",
                data: {
                    ProjectId: ProjectId
                },
                type: "post",
                dataType: "json",
                success: function (res) {
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        ProjectShow();
                    }
                    else {
                        alert(res.Message);
                    }
                }
            })
        }

        else {
            ProjectShow();
        }

    }

    function GetProject() {

        var ProjectNumber = $("#txtNumber").val();
        var ProjectStage = $("#SelectMent").val();
        var PageIndex = 1;
        var PageSize = 3;

        $("#tbo").empty();

        $.ajax({

            url: "/Project/ProjectShow",
            data: {
                PageIndex: PageIndex,
                PageSize: PageSize,
                Projectstage: ProjectStage,
                ProjectNumber: ProjectNumber
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                var list = "";

                if (res.IsRegistSuccess) {
                    $(res.Project).each(function () {
                        $("#tbo").empty();
                        list += "<tr>" +
                            "<td>" + this.ProjectId + "</td>" +
                            "<td>" + this.ProjectNumber + "</td>" +
                            "<td>" + this.ProjectDescribe + "</td>" +
                            "<td>" + this.ProjectName + "</td>" +
                            "<td>" + this.ProjectDescribe + "</td>" +
                            "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                            "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                            "<td>" +
                            "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                            "</td>" +
                            "</tr>";

                        $("#tbo").append(list);
                    });
                }
                else {
                    alert("没有这条数据,请重新查询");
                }

            }
        })
    }

    function ProjectUpdate(ProjectId) {
         window.open('/Project/AddProjectAndStage?ProjectId=' + ProjectId,'_blank')
        //window.location = "/Project/AddProjectAndStage?ProjectId=" + ProjectId
    }

    function ProjectStage(ProjectId) {

        if (confirm('是否已确定项目完成度？')) {
            $.ajax({
                url: "/Project/UpdateProjectStage",
                data: {
                    ProjectId: ProjectId
                },
                type: "post",
                datatype: "json",
                success: function (res) {
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        ProjectShow();
                    }
                    else {
                        alert(res.Message);
                    }
                }
            })
        }
    }


    //首页
    function btnFirst() {

        var PageIndex = 1;
        var PageSize = 3;
        var ProjectNumber = $("#txtNumber").val();
        var Projectstage = $("#SelectMent").val();

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                PageIndex: PageIndex,
                PageSize: PageSize,
                Projectstage: Projectstage,
                ProjectNumber: ProjectNumber
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                var list = "";
                $(res.Project).each(function () {
                    $("#tbo").empty();
                    list += "<tr>" +
                        "<td>" + this.ProjectId + "</td>" +
                        "<td>" + this.ProjectNumber + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td>" + this.ProjectName + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                        "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                        "<td>" +
                        "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                        "</td>" +
                        "</tr>";

                    $("#tbo").append(list);
                })
            }
        })

    }

    //上一页
    function btnBack() {
        var thisIndex = Math.floor($("#hidIndex").val());
        var PageIndex = Math.floor(thisIndex - 1);

        if (PageIndex <= 1) {
            PageIndex = 1;
        }

        $("#hidIndex").val(PageIndex);

        var PageSize = 3;
        var ProjectNumber = $("#txtNumber").val();
        var Projectstage = $("#SelectMent").val();

        $("#tbo").empty();

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                PageIndex: PageIndex,
                PageSize: PageSize,
                Projectstage: Projectstage,
                ProjectNumber: ProjectNumber
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                var list = "";
                $(res.Project).each(function () {
                    $("#tbo").empty();
                    list += "<tr>" +
                        "<td>" + this.ProjectId + "</td>" +
                        "<td>" + this.ProjectNumber + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td>" + this.ProjectName + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                        "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                        "<td>" +
 "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                        "</td>" +
                        "</tr>";

                    $("#tbo").append(list);
                })
            }
        })

    }

    //下一页
    function btnNext() {
        //var PageSize = 3;
        //var Pageindex = this.PageIndex + 1;
        var ProjectNumber = $("#txtNumber").val();
        var ProjectStage = $("#SelectMent").val();

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                ProjectNumber: ProjectNumber,
                ProjectStage: ProjectStage,
            },
            datatype: "json",
            type: "post",
            success: function (res) {

                var Totalcount = res.TotalCount;
                var thisIndex = Math.floor($("#hidIndex").val());
                var PageIndex = Math.floor(thisIndex + 1);
                var PageSize = 3;
                var ProjectNumber = $("#txtNumber").val();
                var Projectstage = $("#SelectMent").val();
                var Count = Math.floor(Totalcount / PageSize);

                if (Totalcount % PageSize > 0) {
                    Count = Count + 1;
                }

                //if (Pageindex >= Count) {
                //    Pageindex = Count;
                //}

                $("#hidIndex").val(PageIndex);

                $("#tbo").empty();

                $.ajax({
                    url: "/Project/ProjectShow",
                    data: {
                        PageIndex: PageIndex,
                        PageSize: PageSize,
                        Projectstage: Projectstage,
                        ProjectNumber: ProjectNumber
                    },
                    datatype: "json",
                    type: "post",
                    success: function (res) {
                        var list = "";
                        $(res.Project).each(function () {
                            $("#tbo").empty();
                            list += "<tr>" +
                                "<td>" + this.ProjectId + "</td>" +
                                "<td>" + this.ProjectNumber + "</td>" +
                                "<td>" + this.ProjectDescribe + "</td>" +
                                "<td>" + this.ProjectName + "</td>" +
                                "<td>" + this.ProjectDescribe + "</td>" +
                                "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                                "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                                "<td>" +
                                "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                                "</td>" +
                                "</tr>";

                            $("#tbo").append(list);
                        })
                    }
                })
            }
        })



        //PageProject(Pageindex,PageSize,ProjectNumber,ProjectStage);
    }

    //尾页
    function btnEnd() {
        var ProjectNumber = $("#txtNumber").val();
        var ProjectStage = $("#SelectMent").val();

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                ProjectNumber: ProjectNumber,
                ProjectStage: ProjectStage,
            },
            datatype: "json",
            type: "post",
            success: function (res) {

                var Totalcount = res.TotalCount;

                var PageSize = 3;
                var ProjectNumber = $("#txtNumber").val();
                var Projectstage = $("#SelectMent").val();
                var Count = Math.floor(Totalcount / PageSize);

                if (Totalcount % PageSize > 0) {
                    Count = Count + 1;
                }
                PageIndex = Count;

                $("#hidIndex").val(PageIndex);

                $("#tbo").empty();

                $.ajax({
                    url: "/Project/ProjectShow",
                    data: {
                        PageIndex: PageIndex,
                        PageSize: PageSize,
                        Projectstage: Projectstage,
                        ProjectNumber: ProjectNumber
                    },
                    datatype: "json",
                    type: "post",
                    success: function (res) {
                        var list = "";
                        $(res.Project).each(function () {
                            $("#tbo").empty();
                            list += "<tr>" +
                                "<td>" + this.ProjectId + "</td>" +
                                "<td>" + this.ProjectNumber + "</td>" +
                                "<td>" + this.ProjectDescribe + "</td>" +
                                "<td>" + this.ProjectName + "</td>" +
                                "<td>" + this.ProjectDescribe + "</td>" +
                                "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                                "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                                "<td>" +
                                 "<button style='height:30px;width:40px;font-size:20px;' id='fuhao' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")'><b>⇋</b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe640;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' ><b><i class='layui-icon'>&#xe642;</i></b></button>" +
                        "<button style='height:30px;width:40px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' > ✉</button>" +
                                "</td>" +
                                "</tr>";

                            $("#tbo").append(list);
                        })
                    }
                })
            }
        })

    }

    function PageProject(PageIndex, PageSize, Projectstage, ProjectNumber) {

        alert(PageIndex);

        $.ajax({
            url: "/Project/ProjectShow",
            data: {
                PageIndex: 5,
                PageSize: PageSize,
                Projectstage: Projectstage,
                ProjectNumber: ProjectNumber
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                var list = "";
                $(res.Project).each(function () {
                    $("#tbo").empty();
                    list += "<tr>" +
                        "<td>" + this.ProjectId + "</td>" +
                        "<td>" + this.ProjectNumber + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td>" + this.ProjectName + "</td>" +
                        "<td>" + this.ProjectDescribe + "</td>" +
                        "<td style='color:paleturquoise'>" + (this.ProjectStage == 0 ? '进行中' : (this.ProjectStage == 1 ? '已完成' : '已延期')) + "</td>" +
                        "<td>" + ChangeDateFormat(this.ProjectStartTime) + "</td>" +
                        "<td>" +
                        "<button style='height:30px;width:50px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm' onclick='ProjectStage(" + this.ProjectId + ")';'>跟进</button>" +
                        "<button style='height:30px;width:50px;font-size:20px;' class='layui-btn layui-btn-small layui-btn-danger del-btn' onclick='ProjectDelete(" + this.ProjectId + ")' >删除</button>" +
                        "<button style='height:30px;width:50px;font-size:20px;' class='layui-btn layui-btn-mini table-list-status layui-btn-warm'  onclick='ProjectUpdate(" + this.ProjectId + ")' >编辑</button>" +
                        "<button style='height:30px;width:50px;font-size:20px;' class='layui-btn layui-btn-mini layui-btn-normal table-list-status' onclick='ProjectDetail(" + this.ProjectId + ")' >详情</button>" +
                        "</td>" +
                        "</tr>";

                    $("#tbo").append(list);
                })
            }
        })
        }

</script>

