
@{
    ViewBag.Title = "ProjectAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/admin.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        #tbo td {
            padding: 10px;
        }

        #tbod th {
            text-align: center;
        }

        #tbod td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="margin-top:30px;">
        <input type="hidden" id="hidProjectId" value="@Request["ProjectId"]" />
        <table id="tbo" style="margin-left:50px;">
            <tr>
                <td style="color:red">项目编号：</td>
                <td><input type="text" id="txtNumber" placeholder="请输入项目编号" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:blue">项目名称：</td>
                <td><input type="text" id="txtName" placeholder="请输入项目名称" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:fuchsia">项目描述：</td>
                <td><input type="text" id="txtDetail" placeholder="请输入项目名称" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:palevioletred">项目负责人：</td>
                <td>
                    <select id="selProject" style="height:30px;width:180px">
                        <option value="请选择">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">技术负责人：</td>
                <td>
                    <select id="selTech" style="height:30px;width:180px">
                        <option value="请选择">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">产品负责人：</td>
                <td>
                    <select id="selProduct" style="height:30px;width:180px">
                        <option value="请选择">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">测试负责人：</td>
                <td>
                    <select id="selTest" style="height:30px;width:180px">
                        <option value="请选择">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">市场负责人：</td>
                <td>
                    <select id="selMark" style="height:30px;width:180px">
                        <option value="请选择">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="color:red">项目开始日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtStartTime" style="height:30px;width:180px" />
                    </form>
                </td>
            </tr>
            <tr>
                <td style="color:blue">项目截止日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtOffTime" style="height:30px;width:180px" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" style="width:50px;height:30px; margin-left:100px;margin-top:30px;" onclick="AddProject()">保存</button>
        <button class="layui-btn layui-btn-small layui-btn-danger del-btn" style="width:50px;height:30px;margin-left:50px;margin-top:30px;" onclick="ExitProject()">取消</button>
    </div>
</body>
</html>

<script>

    $().ready(function () {
        ProjectBand();
        MarkBand();
        TestBand();
        TechBand();
        ProductBand();
    })

    function ProjectBand() {
        var DepartId = 1;

        $.ajax({
            url: "/Project/BandProjectbinding",
            data: {
                DepartId: DepartId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                var list = "";
                $(res.info).each(function () {
                    list += "<option value='" + this.PositName + "' >" + this.PositName + "</option>";
                })
                $("#selProject").append(list);
            }
        })
    }

    function TechBand() {
        var DepartId = 2;

        $.ajax({
            url: "/Project/BandProjectbinding",
            data: {
                DepartId: DepartId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                var list = "";
                $(res.info).each(function () {
                    list += "<option value='" + this.PositName + "' >" + this.PositName + "</option>";
                })
                $("#selTech").append(list);
            }
        })
    }

    function ProductBand() {
        var DepartId = 3;

        $.ajax({
            url: "/Project/BandProjectbinding",
            data: {
                DepartId: DepartId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                var list = "";
                $(res.info).each(function () {
                    list += "<option value='" + this.PositName + "' >" + this.PositName + "</option>";
                })
                $("#selProduct").append(list);
            }
        })
    }

    function TestBand() {
        var DepartId = 4;

        $.ajax({
            url: "/Project/BandProjectbinding",
            data: {
                DepartId: DepartId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                var list = "";
                $(res.info).each(function () {
                    list += "<option value='" + this.PositName + "' >" + this.PositName + "</option>";
                })
                $("#selTest").append(list);
            }
        })
    }

    function MarkBand() {
        var DepartId = 5;

        $.ajax({
            url: "/Project/BandProjectbinding",
            data: {
                DepartId: DepartId
            },
            type: "post",
            datatype: "json",
            success: function (res) {
                var list = "";
                $(res.info).each(function () {
                    list += "<option value='" + this.PositName + "' >" + this.PositName + "</option>";
                })
                $("#selMark").append(list);
            }
        })
    }

    function ExitProject() {
        window.location = "/Project/InfoMation";
    }

    function AddProject() {
        var ProjectNumber = $("#txtNumber").val();
        var ProjectName = $("#txtName").val();
        var ProjectDescribe = $("#txtDetail").val();
        var ProjectStaffId = $("#selProject").val();
        var TechStaffId = $("#selTech").val();
        var ProductStaffId = $("#selProduct").val();
        var TestStaffId = $("#selTest").val();
        var MarketStaffId = $("#selMark").val();
        var ProjectStartTime = $("#txtStartTime").val();
        var ProjectOutTime = $("#txtOffTime").val();
        var ProjectStage = 0;


        $.ajax({
            url: "/Project/AddProject",
            data: {
                ProjectNumber: ProjectNumber,
                ProjectName: ProjectName,
                ProjectDescribe: ProjectDescribe,
                ProjectStaffId: ProjectStaffId,
                TechStaffId: TechStaffId,
                ProductStaffId: ProductStaffId,
                TestStaffId: TestStaffId,
                MarketStaffId: MarketStaffId,
                ProjectStartTime: ProjectStartTime,
                ProjectOutTime: ProjectOutTime,
                ProjectStage: ProjectStage
            },
            datatype: "json",
            type: "post",
            success: function (res) {
                if (res.IsRegistSuccess) {
                    alert(res.Message);
                    location.href = "/Project/InfoMation";
                }
                else {
                    alert(res.Message);
                }
            }
        })
    }
</script>