
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/admin.css" />
    <link href="~/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/ztree/css/demo.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/ztree/js/jquery.ztree.core.js"></script>
    <script src="~/ztree/js/jquery.ztree.excheck.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/zTreeConfiguration.js"></script>
    <style>
        #tbo td {
            padding: 10px;
        }

        #tbod th {
            text-align: center;
        }

        #tbod td {
            text-align: center;
        }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            opacity: .80;
            filter: alpha(opacity=88);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 20%;
            width: 25%;
            height: 30%;
            padding: 20px;
            border: 1px solid black;
            background-color: #d1a4a4;
            z-index: 1002;
            overflow: auto;
        }
    </style>
    <SCRIPT type="text/javascript">
        //添加
        function ExitProject() {
              window.opener=null;
              window.open('','_self');
               window.close();
        }



        //function ExitProject() {
        //    window.location = "/Project/InfoMation";
        //}

        function AddProject() {
            var ProjectNumber = $("#txtNumber").val();
            var ProjectName = $("#txtName").val();
            var ProjectDescribe = $("#txtDetail").val();
            var ProjectStaffId = $("#ProjectDetail").text();
            var TechStaffId = $("#technologyDetail").text();
            var ProductStaffId = $("#ProductDetail").text();
            var TestStaffId = $("#TestDetail").text();
            var MarketStaffId = $("#MarkDetail").text();
            var ProjectStartTime = $("#txtStartTime").val();
            var ProjectOutTime = $("#txtOffTime").val();
            var ProjectStage = 0;


            $.ajax({
                url: "/Project/AddProject",
                data: {
                    ProjectNumber: ProjectNumber,
                    ProjectName: ProjectName,
                    ProjectDescribe: ProjectDescribe,
                    ProjectStaffId: ProjectStaffId,
                    TechStaffId: TechStaffId,
                    ProductStaffId: ProductStaffId,
                    TestStaffId: TestStaffId,
                    MarketStaffId: MarketStaffId,
                    ProjectStartTime: ProjectStartTime,
                    ProjectOutTime: ProjectOutTime,
                    ProjectStage: ProjectStage
                },
                datatype: "json",
                type: "post",
                success: function (res) {
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        window.opener=null;
                        window.open('','_self');
                        window.close();
                    }
                    else {
                        alert(res.Message);
                    }
                }
            })
        }



</SCRIPT>
</head>
<body>
    <div style="margin-top:30px;">
        <input type="hidden" id="hidProjectId" value="@Request["ProjectId"]" />
        <input type="hidden" id="hidzTree1" value="" />
        <input type="hidden" id="hidzTree2" value="" />
        <table id="tbo" style="margin-left:50px;">
            <tr>
                <td style="color:red">项目编号：</td>
                <td><input type="text" id="txtNumber" placeholder="请输入项目编号" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:blue">项目名称：</td>
                <td><input type="text" id="txtName" placeholder="请输入项目名称" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:fuchsia">项目描述：</td>
                <td><input type="text" id="txtDetail" placeholder="请输入项目名称" style="height:30px;width:180px" /></td>
            </tr>
            <tr>
                <td style="color:palevioletred">项目负责人：</td>
                <td>
                    <button id="ProjectDetail" style="width:180px;height:30px;" href="javascript:void(0)" onclick="document.getElementById('light').style.display = 'block'; document.getElementById('fade').style.display = 'block';">选择项目负责人</button>
                    <div id="light" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none';">确定选中</button>
                        <div>
                            <div id="treeDemo" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">技术负责人：</td>
                <td>
                    <button id="technologyDetail" style="width:180px;height:30px;" href="javascript:void(0)" onclick="document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'">选择技术负责人</button>
                    <div id="light1" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light1').style.display = 'none'; document.getElementById('fade').style.display = 'none';">确定选中</button>
                        <div>
                            <div id="treeDemoTechnology" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">产品负责人：</td>
                <td>
                    <button id="ProductDetail" style="width:180px;height:30px;" href="javascript:void(0)" onclick="document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'">选择产品负责人</button>
                    <div id="light2" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoProduct" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">测试负责人：</td>
                <td>
                    <button id="TestDetail" style="width:180px;height:30px;" href="javascript:void(0)" onclick="document.getElementById('light3').style.display='block';document.getElementById('fade').style.display='block'">选择测试负责人</button>
                    <div id="light3" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light3').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoTest" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:palevioletred">市场负责人：</td>
                <td>
                    <button id="MarkDetail" style="width:180px;height:30px;" href="javascript:void(0)" onclick="document.getElementById('light4').style.display='block';document.getElementById('fade').style.display='block'">选择市场负责人</button>
                    <div id="light4" class="white_content">
                        <button href="javascript:void(0)" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade').style.display='none'">确定选中</button>
                        <div>
                            <div id="treeDemoMark" class="ztree">

                            </div>
                        </div>
                    </div>
                    <div id="fade" class="black_overlay"></div>
                </td>
            </tr>
            <tr>
                <td style="color:red">项目开始日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtStartTime" style="height:30px;width:180px" />
                    </form>
                </td>
            </tr>
            <tr>
                <td style="color:blue">项目截止日期：</td>
                <td>
                    <form action="time">
                        <input type="date" id="txtOffTime" style="height:30px;width:180px" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" style="width:50px;height:30px; margin-left:100px;margin-top:30px;" onclick="AddProject()">保存</button>
        <button class="layui-btn layui-btn-small layui-btn-danger del-btn" style="width:50px;height:30px;margin-left:50px;margin-top:30px;" onclick="ExitProject()">取消</button>
    </div>
</body>
</html>
