<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>CMS管理系统</title>
    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/admin/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">小微企业高效管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        欢迎  @Session["name"] 登录
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="javascript:; ">首页</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/RatelMenu/StartShow">首页</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">项目管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Project/InfoMation">数据列表</a></dd>
                            <dd><a href="/Project/AddProjectAndStage">新增项目</a></dd>
                            <dd><a href="/Project/AddProjectAndStage">新增项目</a></dd>
                            <dd><a href="/Project/StageUpdate">项目修改</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">费用管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Reim/show">数据列表</a></dd>
                            <dd><a href="/Reim/add">新增费用</a></dd>
                            <dd><a href="">修改数据</a></dd>
                            <dd><a href="/Reim/Detail">详情数据</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">合同管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">合同显示</a></dd>
                            <dd><a href="">新增合同</a></dd>
                            <dd><a href="">修改合同</a></dd>
                            <dd><a href="">详情合同</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">人才管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Talents/Index/">显示人才</a></dd>
                            <dd><a href="/Talents/AddTalent">新增人才</a></dd>
                            <dd><a href="/Talents/PutTalent">修改人才</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding-left: 25px;">
                @RenderBody()
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            小微企业高效管理
        </div>
    </div>

    
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>
