@model IEnumerable<Models.Talent.TalentsModel>
@{
    ViewBag.Title = "Detail";
}

<h2>费用详情</h2>
@using (Html.BeginForm())
{


<table class="table table-bordered">
    <tr>
        <td>报销人:</td>
    </tr>
    <tr>
        <td>报销类型:</td>
    </tr>
    <tr>
        <td>报销日期:</td>
    </tr>
    <tr>
        <td>报销金额:</td>
    </tr>
    <tr>
        <td>报销状态:</td>
    </tr>
    <tr>
        <td>备注说明:</td>
    </tr>
</table>
}