@model IEnumerable<Models.ReimbursementInfo>
@{
    ViewBag.Title = "Update";
}

<h2>修改费用</h2>
@using (Html.BeginForm())
{
<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>报销人:</td>
            <td><input id="Text1" name="applyName" type="text" value="@Html.DisplayFor(modelItem => item.ApplyName)" /></td>
        </tr>
        <tr>
            <td>报销类型:</td>
            <td>
                <input id="Radio1" type="radio" name="CostId" value="餐费" checked="checked" />餐费
                <input id="Radio1" type="radio" name="CostId" value="打车费" />打车费
                <input id="Radio1" type="radio" name="CostId" value="其他费用" />其他费用
            </td>
        </tr>
        <tr>
            <td>报销日期:</td>
            <td>
                <form action="time">
                    <input type="date" id="Text2" name="ApplyTime" style="height:30px;width:180px" />
                </form>
            </td>
        </tr>
        <tr>
            <td>报销金额:</td>
            <td><input id="Text3" name="Money" type="text" value="@Html.DisplayFor(modelItem => item.Money)" /></td>
        </tr>
        <tr>
            <td>报销说明:</td>
            <td><input id="Text4" name="ApplyExplain" type="text" value="@Html.DisplayFor(modelItem => item.ApplyExplain)" /></td>
        </tr>
        <tr>
            <td>
                <input id="Button1" type="submit" value="修改" class="btn btn-info" />
            </td>
        </tr>
    }

</table>
}
